* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.title {
  height: 60px;
  background-color: aquamarine;
  margin: 0;
}
.info-container {
  position: relative;
  background-color: red;
  min-height: 300px;
}
.region-btns {
  z-index: 1;
  margin: 0.5rem;

  height: 80px;
  background-color: blue;
}
.case-btns {
  margin: 0.5rem;

  height: 80px;
  background-color: gold;
}
.country-btns {
  margin: 0.5rem;

  background-color: green;
  min-height: 200px;
}
